<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="script.js"></script>
		
	</head>
	<body  class="container jumbotron" ng-app="GameOfLifeApp" ng-controller="GameOfLifeController">
		<h1>Conway's Game of Life</h1>
		<p><a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">The Game of Life</a>, also known simply as Life, is a cellular automaton devised by the British mathematician John Horton Conway in 1970.</p>
		<canvas ng-init="init()" ng-click="addNewLife($event)"id="GamePanel" width="500" height="500" style="border:1px solid #000000;">
		</canvas>
		<input type="button" class="btn primary" value="start" ng-click="start()">
		<input type="button" class="btn alert" value="stop" ng-click="stop()">
		<input type="button" class="btn" value="reset" ng-click="reset()">
	</body>
</html>
